{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 versions"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/syntax-flow",
    "@babel/proposal-decorators",
    "@babel/transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
